<h1>actividad27 is running!</h1>
<mat-card class="card">
  <mat-card-header>
    <h1>Operaciones Matematicas Basicas</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Valor1</mat-label>
      <input matInput type="number" [(ngModel)]="valor1" name="valor1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor2</mat-label>
      <input matInput type="number" [(ngModel)]="valor2" name="valor2">
    </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Operacion</mat-label>
          <mat-select  [(ngModel)]="SelectValue" >
            <mat-option value="multip">Multiplicar</mat-option>
            <mat-option value="suma">Suma</mat-option>
            <mat-option value="resta">Resta</mat-option>
            <mat-option value="Division">Division</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" type="button" (click)="calcular(SelectValue ,valor1 ,valor2)">Calcular</button>
  </mat-card-footer>

<mat-card>
  <mat-card-content>
    <span><br>{{result}}<br>{{Operacion}}</span>
  </mat-card-content>
</mat-card>
</mat-card>